## Evaluation de classification des aspects implicites

### Importation des bibliothèques

In [1]:
import os
os.chdir("..")

In [9]:
from Preprocessors.ReviewPreprocessor import ReviewPreprocessor
from Aspects.ExplicitAspectExtractor import ExplicitAspectExtractor
from Aspects.CoRefAspectIdentGrouping import CoRefAspectIdentGrouping
from Aspects.ImplicitAspectExtractor import ImplicitAspectExtractor

In [2]:
import re
import pandas as pd
import spacy
nlp = spacy.load("en_core_web_sm")
from collections import Counter

In [3]:
tagged_hotels_corpus = open("data/tagged_hotels_corpus.txt", "r")

In [4]:
tagged_hotels_corpus.seek(3)
current_review_number = 1
review_text = []
temp_review_text = ""
for line in tagged_hotels_corpus.readlines():
    splited = line.split("###")
    sentence_text=splited[1]
    sentence_meta_data = splited[0]
    meta_data_items = sentence_meta_data.strip().split(" ")
    regex_groups = re.search(r'\[c([0-9]+)\]\[s([0-9]+)\]', meta_data_items[0]).groups()
    review_id = int(regex_groups[0])
    sentence_number = int(regex_groups[1])
    if current_review_number == review_id:
        temp_review_text += " " + sentence_text
    elif review_id == current_review_number+1:
        review_text.append(temp_review_text)
        temp_review_text = sentence_text
        current_review_number = review_id
# add add the last review
review_text.append(temp_review_text)

In [5]:
df = pd.DataFrame(review_text, columns=["review"])
df

                                               review
0     this is quite the most delightful hotel i ha...
1    the actual hotel accomodations were very luxu...
2    very good, but i am going back and won't stay...
3    we stayed here for one night, in december 201...
4    the family that runs this hostel are wonderfu...
..                                                ...
95   we arrived really late on friday evening and ...
96   bed and breakfast/ hostel style accommodation...
97   we stayed at cabanas del lago for one night f...
98   we found this place on the internet and staye...
99   this hotel is perfect!!!\n  we got two days o...

[100 rows x 1 columns]

In [7]:
preprocessor = ReviewPreprocessor(df['review'], nlp)

In [ ]:
df['cleaned_review'] = preprocessor.remove_tags()
df['cleaned_review'] = preprocessor.lowercase_transformation()
print("correction des fautes")
df['cleaned_review'] = preprocessor.spelling_correction()
df['cleaned_review'] = preprocessor.remove_objective_sentences()

correction des fautes

100it [00:24,  4.14it/s]
100it [00:04, 22.30it/s]